:root {
    --font-sans: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-barkley-mono: "berkeleyMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --bg-color: #14120b;
    --text-color: #edecec;
    --hover-color: #bebebe;
    --secondary-background-color: #1b1913;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    font-family: var(--font-sans);
}

nav {
    width: 86%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
}

nav div img {
    width: 95px;
    cursor: pointer;
}

nav div a {
    /* font-family: var(--font-sans); */
    text-decoration: none;
    color: var(--text-color);
    margin-left: 25px;
}

nav div a:hover {
    color: var(--hover-color);
}


nav div #sign-in {
    border: 1px solid rgb(88, 87, 87);
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 50px;
    padding: 5.6px 10.5px 5.88px;
    font-size: 14px;
}

nav div #download {
    border: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 5.6px 10.5px 5.88px;
    border-radius: 50px;
    font-size: 14px;
    margin-left: 5px;
}

main {
    width: 86%;
    margin: 50px auto
}

main div {
    display: flex;
    flex-direction: column;
}

main div h1 {
    /* font-family: var(--font-sans); */
    font-weight: 600;
    font-size: 25px;
    margin-top: 55px;
}

main div button {
    width: 250px;
    /* font-family: var(--font-sans); */
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px 10px;
    border-radius: 35px;
    cursor: pointer;
    border: none;
    color: var(--bg-color);
}

main div button:hover {
    background-color: var(--hover-color);
}

main div img {
    width: full;
    margin-top: 50px;
    justify-self: center;
    border-radius: 5px;
}

.trusted {
    width: 86%;
    /* font-family: var(--font-sans); */
    margin: 10px auto;
}

.trusted p {
    text-align: center;
}

.trusted .partners {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.trusted .partners img {
    background-color: var(--secondary-background-color);
    padding: 30px 45px 30px;
    width: 150px;
    border-radius: 5px;
}

.cards {
    width: 86%;
    margin: 100px auto;
    /* font-family: var(--font-sans); */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(33, 30, 30);
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    gap: 100px;
}

/* .card .text {
    margin-right: 10px;
} */

.card .text h3 {
    font-size: 24px;
}

.card .text p {
    font-size: 24px;
    color: #909090;
}

.card .text button {
    border: none;
    background-color: var(--secondary-background-color);
    color: red;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.card .text button:hover {
    color: rgb(180, 18, 18);
}

.card img {
    height: 600px;
}

.cards .card-2 {
    /* display: flex; */
    flex-direction: row-reverse;
}


.testimonials {
    width: 86%;
    /* font-family: var(--font-sans); */
    margin: 20px auto;
    
}

.testimonials .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.testimonials .text h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.testimonial-cards .testimonial {
    /* height: 300px; */
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    border: 1px solid rgb(33, 30, 30);
}

.testimonial-cards .testimonial .text {
    /* border: 1px solid red; */
    height: 150px;
    border-radius: 5px;
}

.testimonial-cards .testimonial .name-and-image {
    display: flex;
    gap: 20px;
    align-items: start;
    margin-top: 100px;
}

.testimonial-cards .testimonial .name-and-image img {
    width: 50px;
    border-radius: 10px;
}

.features {
    width: 86%;
    margin: 10px auto;
    /* font-family: var(--font-sans); */
}

.features .text {
    margin-top: 180px;
    font-weight: 400;
}

.features .feature-cards {
    display: flex;
    gap: 10px;
}

.features .feature-cards .feature-card {
    margin-top: 30px;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    border: 1px solid rgb(33, 30, 30);
}

.features .feature-cards .feature-card .feature-text h3 {
    font-size: 18px;
    font-weight: 400;
}

.features .feature-cards .feature-card .feature-text p {
    color: var(--hover-color);
}

.features .feature-cards .feature-card .feature-text button {
    border: none;
    background-color: var(--secondary-background-color);
    color: red;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.features .feature-cards .feature-card .feature-text button:hover {
    color: rgb(180, 18, 18);
}

.features .feature-cards .feature-card .feature-image img {
    margin-top: 20px;
    height: 390px;
    border-radius: 5px;
}

.changelog {
    /* font-family: var(--font-sans); */
    width: 86%;
    margin: 10px auto;
    margin-top: 100px;
}

.changelog .changelog-cards {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.changelog .changelog-cards .changelog-card {
    background-color: var(--secondary-background-color);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(33, 30, 30);
    width: 400px;
}

.changelog .changelog-cards .changelog-card .version-date {
    display: flex;
    gap: 20px;
    color: var(--hover-color);
}

.changelog .changelog-cards .changelog-card .version-date .version {
    border: 0.5px solid var(--hover-color);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}

.changelog .changelog-cards .changelog-card .date p {
    color: var(--hover-color);
}

.changelog .changelog-cards .changelog-card .text {
    margin-top: 20px;
}

.changelog button {
    border: none;
    background-color: var(--bg-color);
    color: red;
    margin-top: 10px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.changelog button:hover {
    color: rgb(180, 18, 18);
}

.teams {
    width: 86%;
    margin: 10px auto;
    /* font-family: var(--font-sans); */
    margin-top: 100px;
}

.teams .heading h2 {
    font-size: 30px;
    font-weight: 400;
}

.teams .button button {
    /* font-family: var(--font-sans); */
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px 10px;
    border-radius: 35px;
    cursor: pointer;
    border: none;
    color: var(--bg-color);
}

.teams .image img {
    width: 100%;
    margin-top: 50px;
    border-radius: 5px;
}

.highlights-color {
    background-color: var(--secondary-background-color);
    margin-top: 100px;
}

.highlights-color .highlights .highlight-text {
    margin-top: 100px;
}

.highlights {
    /* font-family: var(--font-sans); */
    width: 86%;
    margin: 20px auto;
    display: flex;
    gap: 100px;
}

.highlights .highlight-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}

.highlights .highlight-cards .highlight-card {
    padding: 10px;
    border-radius: 5px;
    background-color: #201e18;
    border: 1px solid rgb(33, 30, 30);
}

.highlights .highlight-cards .highlight-card .text h3 {
    font-size: 18px;
    font-weight: 500;
}

.highlights .highlight-cards .highlight-card .text p {
    color: var(--hover-color);
    width: 600px;
}

.highlights .highlight-cards .highlight-card .date p {
    color: var(--hover-color);
    margin-top: 20px;
}

.highlights .highlight-cards button {
    border: none;
    background-color: var(--secondary-background-color);
    color: red;
    margin-top: 10px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: start;
    cursor: pointer;
}

.highlights .highlight-cards button:hover {
    color: rgb(180, 18, 18);
}

.cta {
    width: 86%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta .text h2 {
    font-size: 60px;
    font-weight: 500;
}

.cta .button button {
    border: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.cta .button button:hover {
    background-color: var(--hover-color);
}

footer {
    background-color: var(--secondary-background-color);
    padding: 40px;
}

.footer-element {
    width: 86%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer-element .column p {
    color: var(--hover-color);
}

.footer-element .column ul {
    list-style-type: none;
    line-height: 30px;
}

.footer-element p {
    margin-top: 50px;
    color: var(--hover-color);
}